{% extends "base.html" %}
{% load static %}

{% block content %}

  {{ data|json_script:"hello-data" }}
  {{ summary|json_script:"summary-data" }}
  
  {% include "navbar.html" %}
  <div class=row>
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 separator">
      <span style="letter-spacing:2px">GLOBAL SITUATION</span>
      <br>
      <small>Last refreshed: <span id="lastrefreshed"></span></small>
    </div>
  </div>
  
  <div>
    <div class="accordion" id="accordionExample">
      <div class="card" style="border: none">
        <div class="card-header" id="headingOne" style="background: none;border:none;padding: 0.1rem;">
          <h2>
            <button
              type="button"
              class="btn"
              data-toggle="collapse"
              data-target="#collapseOne"
              style="padding:0; margin:0; width:100%; background:none;">
              <div class="row">
                <div class="col-xl-11 col-lg-11 col-md-11 col-sm-11 col-11">
                  <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4">
                      <div class="info-box">
                        <div class="title orange">Confirmed</div>
                        <div class="count orange" id="confirmed-count">--</div>
                        <span id="spark-confirmed"></span>
                      </div>
                    </div><!--/ col-lg-4 -->
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4">
                      <div class="info-box">
                        <div class="title green">Recovered</div>
                        <div class="count green" id="recovered-count">--</div>
                        <span id="spark-recovered"></span>
                      </div>
                    </div><!--/ col-lg-4 -->
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4">
                      <div class="info-box">
                        <div class="title darkred">Deaths</div>
                        <div class="count darkred" id="deaths-count">--</div>
                        <span id="spark-deaths"></span>
                      </div>
                    </div><!--/ col-lg-4 -->
                  </div> <!-- /row -->
                </div>
                <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1">
                  <i class="fa fa-angle-right fa-2x text-blue" style="margin-top:30px;color:#708090"></i>
                </div>
              </div> <!--/ row -->
            </button>
          </h2>
        </div>
        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
          <div class="card-body" style="padding:0">
            <section class="wrapper">
              <div class="row" >
                <div class="col-sm-12 col-lg-12" style="margin-bottom:1rem;padding:0">
                  <table id="table-count" class="table table-striped display" cellspacing="0" width="100%" >
                    <thead>
                      <tr>
                        <th width="30%">Country</th>
                        <th width="25%" style="text-align:left" class="orange" >Confirmed</th>
                        <th width="20%" style="text-align:left" class="darkred">Deaths</th>
                        <th width="25%" style="text-align:left" class="green"  >Recovered</th>
                      </tr>
                    </thead>
                    <tbody>
                    </tbody>
                  </table>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Choropleth map -->
  <div class=row>
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 separator">
      <span style="letter-spacing:2px">COVID MAP</span>
      <br>
      <small>Click on the country to know latest stats</small>
    </div>
  </div>
  
  <section>
    <div class="row">
      <div class="
        col-xl-12 offset-xl-0
        col-lg-12 offset-lg-0
        col-md-12 offset-md-0
        col-sm-12 offset-sm-0
        col-12    offset-0" style="padding: 0">
        <div class="">
          <div class="cardbox-item text-center">
            <iframe frameBorder="0" id="foo" style="width:100%;height:350px;" srcdoc='{{map_html|escape}}'></iframe>
          </div><!--/ cardbox-item -->
        </div><!--/ cardbox -->
      </div><!--/ col-lg-6 -->
    </div><!--/ row -->
  </section>

  <div class=row>
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 separator">
      <span style="letter-spacing:2px">COVID GLOBE</span>
      <br>
      <small> Size of ping reflects count of confirmed cases</small>
    </div>
  </div>
  
  <br>
  
  <!-- Globe section -->
  <section>
    <div class="row">
      <div class="
        col-xl-12 offset-xl-0
        col-lg-12 offset-lg-0
        col-md-12 offset-md-0
        col-sm-12 offset-sm-0
        col-12    offset-0">
        <div class="cardbox">
          <div class="cardbox-item text-center">
            <canvas id='globe' height=350 width=350></canvas>
          </div><!--/ cardbox-item -->
        </div><!--/ cardbox -->
      </div><!--/ col-lg-6 -->
    </div><!--/ row -->
  </section>

{% endblock content %}

