{% extends "base.html" %}
{% load static %}
{% block content %}
  
  {% comment %} {{ records|json_script:"records_dict" }}    {% endcomment %}
  {% include "navbar.html" %}

  <main role="main" class="container-fluid p-0 mx-auto" style="max-width:500px">
    <div class="mt-5"> </div>
    <div>
      <div class="lead">{{ country }}</div>        
    </div>
    
    <!-- plotly -->
    <div class="card card-body shadow">
      <div class="row">
        <div class="col-12">      
          <iframe frameBorder="0" style="width:100%;height:370px" srcdoc='{{div_html|escape}}'></iframe>
        </div> <!-- /col-12 -->
      </div> <!-- /row -->
    </div> <!-- /card-->
    
    <br>
    <div class="card card-body shadow">
      <div class="row">
        <div class="col-12">      
        {{ country_table_html|safe }}
        </div> <!-- /col-12 -->
      </div> <!-- /row -->
    </div> <!-- /card-->
  </main>  
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js" ></script>
  <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>  
    
  <script>
    $(function() {
      handleRecordsTable();
    });
    
    function handleRecordsTable(){
      var table = $('#table-country-records').DataTable({
        "stripeClasses": [],
        "info": false,      
        "order": [[ 1, "desc" ]],
        "paging": false
      });
      $('.dataTables_filter input').addClass('dataTableSearch');
    }
  </script>
{% endblock content %}
