{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Corona globe">
    <meta name="author" content="Soumya">
    <meta name="keyword" content="Corona, globe, world, covid, covid19">
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">  
    <link href="{% static 'css/bootstrap-theme.css' %}" rel="stylesheet">
    <link href="{% static 'css/elegant-icons-style.css' %}" rel="stylesheet" />
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/fullcalendar/fullcalendar/bootstrap-fullcalendar.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/fullcalendar/fullcalendar/fullcalendar.css' %}" rel="stylesheet" />    
    <link href="{% static 'assets/jquery-easy-pie-chart/jquery.easy-pie-chart.css' %}" rel="stylesheet" type="text/css" media="screen" />    
    <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}" type="text/css">
    <link href="{% static 'css/jquery-jvectormap-1.2.2.css' %}" rel="stylesheet">    
    <link rel="stylesheet" href="{% static 'css/fullcalendar.css' %}">
    <link href="{% static 'css/widgets.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/style-responsive.css' %}" rel="stylesheet" />
    <link href="{% static 'css/xcharts.min.css' %}" rel=" stylesheet">
    <link href="{% static 'css/jquery-ui-1.10.4.min.css' %}" rel="stylesheet">
    
    <title>Corona</title>  
    <style>
      body { background:#222;}
      .info-box {
        padding: 5px;
        margin-bottom: 5px;
        min-height: 0;
        text-align: center;        
        border: 0;
        box-shadow: none;
      }   
      .info-box .count {
        margin-top: 0;
      }
      .darkred {
        color: tomato;
      }
      .green {
        color: #26c281;
      }
      .orange {
        color: orange;
      }
      .table-resp-150{
          max-height: 150px;
          overflow:auto;
      }
      .height-150{
          max-height: 150px;
          overflow:auto;
      }
      .transparent {
          background: transparent;
      }
      td, th {
          padding: 2px !important;
          border-top: 1px solid #444 !important;
      }
      #table-confirmed {
        background: black;
      }
      #table-recovered {
        background: black;
      }
      #table-deaths {
        background: black;
      }
      
    </style>
    
</head>

<body>

    {{ data|json_script:"hello-data" }}  
    {{ summary|json_script:"summary-data" }}
    <header class="header">
      <a href="mailto:soumyazyx@gmail.com?Subject=Hi%20There" target="_top" class="logo" style="color:#00a0df">
          <span class="profile-ava">
              <img alt="" src="{% static 'img/avatar1_soumya.jpg' %}">
          </span>
          Corona            
          <span class="lite">
              <small><small><small>&nbsp;</small></small></small>
          </span>
      </a>
    </header>
  
    <br/><br/><br/>
    <div class="container">    
      <div class="row">
        <div class="text-center">
            <canvas id='globe' height=400 width=400></canvas>
        </div>
      </div>

      <div class="row">
        
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
          <div class="info-box">
            <div class="count orange" id="confirmed-count">--</div>
            <div class="title orange">Confirmed</div>
          </div>
          <!--/.info-box-->
        </div>
        <!--/.col-->
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
          <section class="panel transparent" style="border:1px solid #000;">
            <span id="spark-confirmed"></span>
          </section>            
        </div>          

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
          <div class="info-box">
            <div class="count green" id="recovered-count">--</div>
            <div class="title green">Recovered</div>
          </div>
          <!--/.info-box-->
        </div>
        <!--/.col-->
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
          <section class="panel transparent" style="border:1px solid #000;">
            <span id="spark-recovered"></span>
          </section>            
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
          <!-- <div class="info-box blue-bg"> -->
          <div class="info-box">
            <div class="count darkred" id="deaths-count">--</div>
            <div class="title darkred">Deaths</div>
          </div>
          <!--/.info-box-->
        </div>
        <!--/.col-->
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
          <section class="panel transparent" style="border:1px solid #000;">
            <span id="spark-deaths"></span>
          </section>            
        </div>

      </div> <!-- /.row -->
      <section class="wrapper">
        <!-- page start-->
        <div class="row" >
          <div class="col-sm-6" style="margin-bottom:20px;">
            
            <table id="table-confirmed" class="display" cellspacing="0" width="100%" >
              <thead>
                <tr style="background:black">
                  <th></th>
                  <th class="orange" style='text-align:right'>Confirmed</th>
                </tr>
              </thead>          
              <tbody>                
              </tbody>
            </table>
          </div>
          <div class="col-sm-6" style="margin-bottom:20px;">
            <table id="table-deaths" class="display" cellspacing="0" width="100%">
              <thead>
                <tr style="background:black">
                  <th></th>
                  <th class="darkred" style='text-align:right'>Deaths</th>
                </tr>
              </thead>          
              <tbody>                
              </tbody>
            </table>
          </div>          
        </div>
        <div class="row">
          <div class="col-sm-6" style="margin-bottom:20px;">
            <table id="table-recovered" class="display" cellspacing="0" width="100%">
              <thead>
                <tr style="background:black">
                  <th></th>
                  <th class="green" style='text-align:right'>Recovered</th>
                </tr>
              </thead>          
              <tbody>                
              </tbody>
            </table>
          </div>
          <div class="col-sm-6" style="display: none">
            <section class="panel height-150 transparent" style="border:1px solid #DDD">
              <span id="spark-1-test" style="display: none"></span>
            </section>            
          </div>          
        </div>
      </section>

      <!-- <div class="jumbotron">
        <h1>Navbar example</h1>
        <p>This example is a quick exercise to illustrate how the default, static and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>
        <p>To see the difference between static and fixed top navbars, just scroll.</p>
        <p>
          <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">View navbar docs &raquo;</a>
        </p>
        <span id="spark-1"></span>
      </div> -->


    </div> <!-- /container -->

    
    
    
                
            
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/jquery-ui-1.10.4.min.js' %}"></script>
    <script src="{% static 'js/jquery-1.8.3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-ui-1.9.2.custom.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.scrollTo.min.js' %}"></script>
    <script src="{% static 'js/jquery.nicescroll.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/jquery-knob/js/jquery.knob.js' %}"></script>
    <script src="{% static 'js/jquery.sparkline.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/jquery-easy-pie-chart/jquery.easy-pie-chart.js' %}"></script>
    <script src="{% static 'js/owl.carousel.js' %}"></script>
    <script src="{% static 'js/fullcalendar.min.js' %}"></script>
    <script src="{% static 'assets/fullcalendar/fullcalendar/fullcalendar.js' %}"></script>
    <script src="{% static 'js/calendar-custom.js' %}"></script>
    <script src="{% static 'js/jquery.rateit.min.js' %}"></script>
    <script src="{% static 'js/jquery.customSelect.min.js' %}"></script>
    <script src="{% static 'assets/chart-master/Chart.js' %}"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
    <script src="{% static 'js/sparkline-chart.js' %}"></script>
    <script src="{% static 'js/easy-pie-chart.js' %}"></script>
    <script src="{% static 'js/jquery-jvectormap-1.2.2.min.js' %}"></script>
    <script src="{% static 'js/jquery-jvectormap-world-mill-en.js' %}"></script>
    <script src="{% static 'js/xcharts.min.js' %}"></script>
    <script src="{% static 'js/jquery.autosize.min.js' %}"></script>
    <script src="{% static 'js/jquery.placeholder.min.js' %}"></script>
    <script src="{% static 'js/gdp-data.js' %}"></script>
    <script src="{% static 'js/morris.min.js' %}"></script>
    <script src="{% static 'js/sparklines.js' %}"></script>
    <script src="{% static 'js/charts.js' %}"></script>
    <script src="{% static 'js/jquery.slimscroll.min.js' %}"></script>
    <script type='text/javascript' src='https://d3js.org/d3.v3.min.js'></script>
    <script type='text/javascript' src='https://d3js.org/topojson.v1.min.js'></script>
    <script type='text/javascript' src='https://cdn.rawgit.com/BinaryMuse/planetary.js/v1.1.2/dist/planetaryjs.min.js'></script>
    <script src="http://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        var arr = JSON.parse(document.getElementById('hello-data').textContent);
        var planet = planetaryjs.planet();    
        // You can remove this statement if `world-110m.json` is in the same path as the HTML page:
        planet.loadPlugin(
            planetaryjs.plugins.earth({
                topojson: { 
                    file: 'https://raw.githubusercontent.com/BinaryMuse/planetary.js/v1.1.2/dist/world-110m.json' 
                },
                // oceans:   { fill:   '#112' },
                oceans:   { fill:   '#000' },
                land:     { fill:   '#4CAF50' },
                borders:  { stroke: '#1B5E20' }
            })
        );

        // Load our custom autorotate plugin
        planet.loadPlugin(autorotate(10));

        // Load the `pings` plugin to draw animated pings on the globe
        planet.loadPlugin(planetaryjs.plugins.pings({
            color: '#ff0000', ttl: 1000, angle: 10
        }));

        // Make the planet fit well in its canvas
        planet.projection.scale(200).translate([200, 200]);
        var canvas = document.getElementById('globe');
        planet.draw(canvas);

        // This plugin will automatically rotate the globe around its vertical
        // axis a configured number of degrees every second.
        function autorotate(degPerSec) {
            // Planetary.js plugins are functions that take a `planet` instance
            // as an argument...
            return function(planet) {
                var lastTick = null;
                var paused = false;
                planet.plugins.autorotate = {
                    pause:  function() { paused = true;  },
                    resume: function() { paused = false; }
                };
                // ...and configure hooks into certain pieces of its lifecycle.
                planet.onDraw(function() {
                    if (paused || !lastTick) {
                        lastTick = new Date();
                    } else {
                        var now = new Date();
                        var delta = now - lastTick;
                        // This plugin uses the built-in projection (provided by D3)
                        // to rotate the globe each time we draw it.
                        var rotation = planet.projection.rotate();
                        rotation[0] += degPerSec * delta / 1000;
                        if (rotation[0] >= 180) rotation[0] -= 360;
                        planet.projection.rotate(rotation);
                        lastTick = now;
                    }
                });
            };            
        };
        
        // for (var i = 0; i < arr.length; i++){
        //     var obj = arr[i];
        //     // console.log(obj.country_region)            
        //     // console.log(obj.longitude)
        //     // console.log(obj.latitude)
        // }
        setInterval(function() {
            for (var i = 0; i < arr.length; i++){
                var obj = arr[i];
                lng = obj.longitude;
                lat = obj.latitude;
                planet.plugins.pings.add(lng, lat, { color: 'red', ttl: 1500, angle: 4});        
            }
        }, 1000);
    </script>
    <script>
      var summary = JSON.parse(document.getElementById('summary-data').textContent);
      $("#deaths-count").text(summary.totals.total_deaths.toLocaleString())
      $("#recovered-count").text(summary.totals.total_recovered.toLocaleString())
      $("#confirmed-count").text(summary.totals.total_confirmed.toLocaleString())
      
      //Populate confirmed table
      $.each( summary.countriesSorted_Confirmed, function( index, value ){
        country = value;
        confirmed = summary.countries[value].confirmed;
        $("#table-confirmed").last().append("<tr><td>"+value+"</td><td class='orange' style='text-align:right'><b>" + confirmed.toLocaleString() +"</b></td></tr>");        
      });
      //Populate deaths table
      $.each( summary.countriesSorted_Deaths, function( index, value ){
        country = value;
        deaths = summary.countries[value].deaths;
        $("#table-deaths").last().append("<tr><td>"+value +"</td><td class='darkred' style='text-align:right'><b>" + deaths.toLocaleString() +"</b></td></tr>");
      });
      //Populate recoverd table
      $.each( summary.countriesSorted_Recovered, function( index, value ){
        country = value;
        recovered = summary.countries[value].recovered;
        $("#table-recovered").last().append(
          "<tr style='background:black'><td>"+value +"</td><td class='green' style='text-align:right'><b>" + recovered.toLocaleString() +"</b></td></tr>");
      });
      
      // Spark lines
      // console.log(summary.trend_deaths);
      // console.log(summary.trend_confirmed);
      // console.log(summary.trend_recovered);

    var trend_deaths    = summary.trend_deaths;
    var trend_confirmed = summary.trend_confirmed;
    var trend_recovered = summary.trend_recovered;

    $('#spark-confirmed').sparkline(trend_confirmed, {
      height: 50,
      width: '100%',
      fillColor: false,
      lineColor: "orange"
    });
    $('#spark-recovered').sparkline(trend_recovered, {
      height: 50,
      width: '100%',
      fillColor: false,
      lineColor: "#26c281"
    });
    $('#spark-deaths').sparkline(trend_deaths, {
      height: 50,
      width: '100%',
      fillColor: false,
      lineColor: "tomato"
    });
    
    
    // $('#spark-1').sparkline(trend_recovered, {
    //   // changeRangeMin: -10, 
    //   // chartRangeMax: 10,
    //   lineColor: "#26c281",
    //   composite: true,
    //   fillColor: false
    // });
    // $('#spark-1').sparkline(trend_deaths, {
    //   // changeRangeMin: -10, 
    //   // chartRangeMax: 10,
    //   lineColor: "tomato",
    //   composite: true,
    //   fillColor: false
    // });
    
    </script>
    <!-- <script>
    $(document).ready(function() {
        console.log("`")
        var json = (function () {
            var json = null;
            $.ajax({
                'async': false,
                'global': false,
                'url': 'https://coronazyx.herokuapp.com/api/coronafeed',
                'dataType': "json",
                'success': function (data) {
                    json = data;
                }
            });
            console.log(json);
        })(); 
    });
    
      </script>     -->
      <script>
        $(function() {
          $('#table-recovered').DataTable({
            scrollY: 150,
            scrollCollapse: true,
            paging: false,
            searching: false,
            ordering: false,
            info: false
          });
          $('#table-confirmed').DataTable({
            scrollY: 150,
            scrollCollapse: true,
            paging: false,
            searching: false,
            ordering: false,
            info: false
          });
          $('#table-deaths').DataTable({
            scrollY: 150,
            scrollCollapse: true,
            paging: false,
            searching: false,
            ordering: false,
            info: false
          });
        });
      </script>
</body>
</html>
