{% extends "base.html" %}
{% load static %}
{% block content %}
    
    {{ data|json_script:"hello-data" }}
    {{ summary|json_script:"summary-data" }}
    
    {% include "navbar.html" %}

    <main role="main" class="container-fluid p-0 mx-auto" style="max-width:500px">
      <div class="mt-5"></div>
      <div class="card card-body shadow">
        <div class="row">
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4 text-center text-warning">
            <div style="font-size: 1rem">Confirmed</div>
            <div style="font-size: 1rem" id="confirmed-count">--</div>
            <div id="spark-confirmed"></div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4 text-center text-success">
            <div style="font-size: 1rem">Recovered</div>
            <div style="font-size: 1rem" id="recovered-count">--</div>
            <div id="spark-recovered"></div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4 text-center text-danger">
            <div style="font-size: 1rem">Deaths</div>
            <div style="font-size: 1rem" id="deaths-count">--</div>
            <div id="spark-deaths"></div>
          </div>
        </div>
      </div>
      <br/>
      <div class="card card-body shadow">
        <div class="row">
          <div class="col-12">      
            {{ table_html|safe  }}
            {% comment %} <table id="table-count" class="table table-sm no-footer display" 
              cellspacing="0" width="100%" >              
              <thead>
                <tr class="text-left">
                  <td class="compact"></td>
                  <td class="compact">Confirmed</td>
                  <td class="compact">Recovered</td>
                  <td class="compact">Deaths</td>
                </tr>
              </thead>
              <tbody></tbody>
            </table>  {% endcomment %}
          </div> <!-- /col-12 -->
        </div> <!-- /row -->
      </div> <!-- /card-->
          
      <!-- Choropleth map header -->
      <!-- <div>
        <div class="lead">COVID MAP</div>        
      </div> -->
      
      <br>      
      <!-- Choropleth map -->
      <div class="card card-body shadow">
        <div class="row">
          <div class="col-12">      
            <iframe frameBorder="0" id="foo" style="width:100%;height:350px;" srcdoc='{{map_html|escape}}'></iframe>
          </div> <!-- /col-12 -->
        </div> <!-- /row -->
      </div> <!-- /card-->
      
      <!-- Covid globe header -->
      <!-- <div>
        <div class="lead">COVID Globe</div>        
      </div> -->
      <br/>      
      <!-- Covid globe -->
      <div class="card card-body shadow">
        <div class="row"> 
          <div class="col-12 text-center">      
            <canvas id='globe' height=350 width=350></canvas>
          </div> <!-- /col-12 -->
        </div> <!-- /row -->
      </div> <!-- /card-->
      


    

      
    </main>

    <footer class="footer">
      <div class="container-fluid p-0">
        <span class="text-muted">
          Last refreshed:<span id="lastrefreshed"></span>        
        </span>
      </div>
    </footer>
    
    <script src="{% static 'js/jquery-3.2.1.js' %}" ></script>
    <script src="{% static 'js/popper.1.12.9.js' %}" ></script>
    <script src="{% static 'js/bootstrap.4.0.0.js' %}"></script>
    <script src="{% static 'js/jquery.timeago.js' %}"></script>
    <script src="{% static 'js/sparklines.js' %}"></script>
    <script src="{% static 'js/jquery.sparkline.js' %}"></script>
    <script src="{% static 'js/sparkline-chart.js' %}"></script>  
    <script src="{% static 'js/jquery.dataTables.1.10.20.js' %}"></script>  
    <script src="{% static 'js/d3.v3.min.js' %}"></script>  
    <script src="{% static 'js/topojson.v1.min.js' %}"></script>  
    <script src="{% static 'js/planetaryjs.js' %}"></script>  
    
    <!-- <script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script> -->
    
    <script>
      $(function() {      
        
        console.log("Page loaded!");
        var summary = JSON.parse(document.getElementById('summary-data').textContent);
        
        handleTimeago();  
        handleSparks(summary); 
        handleCountDataTable(summary); 
        handleGlobe();   
        
        // functions
        function handleTimeago(){
          jQuery("time.timeago").timeago();
          $("#lastrefreshed").text(jQuery.timeago(summary.utc_dt));
        }
        
        function handleSparks(summary) {
          $('#spark-confirmed').sparkline(summary.trend_confirmed, {height: 40,width: '100%',lineWidth: 2,fillColor: false,lineColor: "orange",spotColor: 'orange',spotRadius: 2});
          $('#spark-recovered').sparkline(summary.trend_recovered, {height: 40,width: '100%',fillColor: false,lineColor: "#26c281",spotRadius: 2,lineWidth: 2});
          $('#spark-deaths').sparkline(summary.trend_deaths, {height: 40,width: '100%',fillColor: false,lineColor: "tomato",spotColor: 'tomato',spotRadius: 2,lineWidth: 2});
          $("#recovered-count").text(summary.totals.total_recovered.toLocaleString())
          $("#confirmed-count").text(summary.totals.total_confirmed.toLocaleString())
          $("#deaths-count").text(summary.totals.total_deaths.toLocaleString())
        }

        function handleCountDataTable(summary, cntry){
          var table = $('#table-count').DataTable({
            "stripeClasses": [],
            "info": false,      
            "order": [[ 1, "desc" ]],
            "paging": false,
            "scrollY": "180px"
          });      
          $('.dataTables_filter input').addClass('dataTableSearch');
          $('#table-count').show();
        }

        function handleGlobe(){
          var arr = JSON.parse(document.getElementById('hello-data').textContent);
          var planet = planetaryjs.planet();
          
          planet.loadPlugin(planetaryjs.plugins.earth({
            topojson: { file: 'https://raw.githubusercontent.com/BinaryMuse/planetary.js/v1.1.2/dist/world-110m.json' },
            land:     { fill:   '#4CAF50' },
            oceans:   { fill:   '#aad3df' },
            borders:  { stroke: '#1B5E20' }
          }));
          // Load our custom autorotate plugin
          planet.loadPlugin(autorotate(10));
          // Load the `pings` plugin to draw animated pings on the globe
          planet.loadPlugin(
            planetaryjs.plugins.pings({
              color: 'tomato', 
              ttl: 2000, 
              angle: 1
            })
          );
          planet.loadPlugin(planetaryjs.plugins.zoom({
            scaleExtent: [100, 500]
          }));
          planet.loadPlugin(planetaryjs.plugins.drag({
            // Dragging the globe should pause the
            // automatic rotation until we release the mouse.
            onDragStart: function() {
              this.plugins.autorotate.pause();
            },
            onDragEnd: function() {
              this.plugins.autorotate.resume();
            }
          }));
          // Make the planet fit well in its canvas
          planet.projection.scale(175).translate([175, 175]);
          var canvas = document.getElementById('globe');
          planet.draw(canvas);

          // This plugin will automatically rotate the globe around its vertical
          // axis a configured number of degrees every second.
          function autorotate(degPerSec) {
            // Planetary.js plugins are functions that take a `planet` instance as an argument...
            return function(planet) {
              var lastTick = null;
              var paused = false;
              planet.plugins.autorotate = {
                pause:  function() { paused = true;  },
                resume: function() { paused = false; }
              };
              // ...and configure hooks into certain pieces of its lifecycle.
              planet.onDraw(function() {
                if (paused || !lastTick) {
                  lastTick = new Date();
                } else {
                  var now = new Date();
                  var delta = now - lastTick;
                  // This plugin uses the built-in projection (provided by D3) to rotate the globe each time we draw it.
                  var rotation = planet.projection.rotate();
                  rotation[0] += degPerSec * delta / 1000;
                  if (rotation[0] >= 180) rotation[0] -= 360;
                  planet.projection.rotate(rotation);
                  lastTick = now;
                }
              });
            };
          };

          setInterval(function() {
            for (var i = 0; i < arr.length; i++){
              var obj = arr[i];
              lng = obj.longitude;
              lat = obj.latitude;
              latestDeathCount = obj.latest_stats_value;
              computedAngle = latestDeathCount/1000;
              if (computedAngle < 2){ computedAngle = 2}
              if (computedAngle > 5){ computedAngle = 5}
              planet.plugins.pings.add(lng, lat, { color: 'red', ttl: 1000, angle: computedAngle});
            }
          }, 1000);
        }

      });
    </script>
     
{% endblock content %}